{% extends 'base.html' %}
{% block title %}TAUBABET - Confirmar Senha VIP{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="config-card1 p-5 text-white">
    <h1>Visualizar Apostas</h1>
    <p class="text-muted">Digite sua senha VIP para ver todas as apostas do sistema.</p>
    <form action="{{ url_for('entrar_admin', pagina='apostas') }}" method="POST">
      <div class="mb-3">
        <label>Confirme sua senha VIP</label>
        <input type="password" class="form-control" maxlength="19"
               placeholder="Digite sua senha" name="senha" required>
      </div>
      <input type="submit" value="Enviar" class="btn btn-primary sub-forma-de-pagamento">
    </form>
    <div class="text-center mt-3">
      <a href="{{ url_for('pagina_configuracoes') }}">
        <button class="btn sub-cancelar2">CANCELAR</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}